# Visual Studio
[Xx]64/
[Dd]ebug*/
[Rr]elease*/
out/
build/
ipch/
*.ipch
*.obj
*.tlog
*.manifest
*.lastbuildstate
*.log
*.idb
*.pdb
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe
*.ilk
*.pdb
*.dll
*.lib
*.exe
CMakeSettings.json

# Visual Studio Code
.vs/

# Code::Blocks
*.cbp
*.depend
*.layout

# OS junk files
[Tt]humbs.db
*.DS_Store